* {
    padding: 0;
    margin: 0;
}

.divCards {
    background-color: #323232;
    padding: 15px !important;
    display: flex;
    justify-content: center;
    width: 100% !important;
    flex-wrap: wrap;
}

.card {
    width: 70vh !important;
    height: 55vh !important;
}

.card-content {
    background-color: #040000;
    height: 40vh !important;
    color: white !important;

}

.btnL {
    background-color: rgb(143, 14, 14) !important;
    color: white !important;
    left: 14rem;
    padding: 0.3rem !important;
}

.btnL:hover {
    background-color: #ff0000 !important;
}