*{
    padding: 0px !important;
}

.containerCities{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem !important;
}

.card{
    margin: 10px;
    width: 40vh;
}

.card-content{
    padding: 10px !important;
    height: 15vh !important;
    
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center !important;
    flex-wrap: nowrap;
    width: 100%;
}

.input-style{
    width: 50%;
    margin-bottom: 1rem;
    border-radius: 15px 3px;
    padding: 0.4rem !important;
    box-shadow: 2px 2px 2px black;
}