* {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }
  
  img {
    max-width: 100%;
  }
  
  .containerfDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh !important;
    padding: 1rem !important;
    background: #444;
  
  }
  
  .cardfDetails {
    
    background: #333;
    width: 500px;
    height: 98% !important;
    border-radius: 6px;
    padding: 1rem !important;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .card__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }
  .card__line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
  }
  .card__image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1.4s forwards;
    width: 100%;
  }
  .card__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
    height: 4.5vh;
  }
  .card__content {
    margin-top: -16rem;
    padding: 10px !important;
    animation: ContentFadeIn 0.8s 1.6s forwards;
    text-align: center;
    height: 80vh !important;
    color: white;
    text-shadow: #333 2px 3px 3px;
  }
  .card__svg {
    position: absolute;
    left: 0;
    top: 115px;
  }
  
  .btnBack{
    background-color: rgb(4, 0, 0);
    color: white;
    border: 1px solid #d10101;
    padding: 4px !important;
    cursor: pointer;
    text-transform: uppercase;
  }
  .btnBack:hover{
    background-color: rgb(255, 0, 0) !important;
    color: white !important;
  }

  .textUnderC{
    color: white;
  }

  @keyframes LineFadeIn {
    0% {
      opacity: 0;
      d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 ");
      stroke: #fff;
    }
    50% {
      opacity: 1;
      d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300");
      stroke: #ff4b4b;
    }
    100% {
      opacity: 1;
      d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400");
      stroke: #d10101;
    }
  }
  @keyframes ContentFadeIn {
    0% {
      transform: translateY(-1rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes ImageFadeIn {
    0% {
      transform: translate(-0.5rem, -0.5rem) scale(1.05);
      opacity: 0;
      filter: blur(2px);
    }
    50% {
      opacity: 1;
      filter: blur(2px);
    }
    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
      filter: blur(0);
    }
  }

  @media screen and (max-width:475px){

    .containerfDetails {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100% !important;
      padding: 1rem !important;
      background: #444;
      overflow: hidden;
    }
    .cardfDetails {
      position: relative;
      background: #333;
      width:100% !important;
      height: 100% !important;
      border-radius: 6px;
      padding: 1rem !important;
      color: #aaa;
      box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
      overflow: hidden;
      font-size: smaller;
    }
    .card__content {
      margin-top: -11rem;
      opacity: 0;
      padding: 10px !important;
      animation: ContentFadeIn 0.8s 1.6s forwards;
      text-align: center;
      height: 70vh !important;
      height: 100%;
    }
  }


  .containerfDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70vh !important;
    padding: 1rem !important;
    background: #444;
  }
  
  .cardfDetails {
    position: relative;
    background: #333;
    width: 500px;
    height: 30rem;
    border-radius: 6px;
    padding: 1rem !important;
    color: #aaa;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  