.sectionform{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    align-items: center;
    height: max-content;
    border: none !important;
}

.textFindHero{
    color: white;
    text-shadow: 2px 2px 2px black;
    padding: 0.4rem;
}
.Nav{
    color: white;
}

.containerImg{
    height: 100%;
    object-fit: cover;
}
.inputForm{
    padding: 0.4rem !important;
    margin: 0.3rem;
}
.sectionLogin{
    padding: 0.5rem !important;
}

.underline{
    color: red !important;
}

.buttonLogin{
    padding: 0.5rem !important;
    background-color: #0094d2;
    box-shadow: 3px 1px 1px rgba(0, 0, 0, 0.671);
}


@media screen and (max-width:487) {
    .inputForm{
        padding: 0.4rem !important;
        display: flex;
        flex-direction: column;
    }
    
    
}