.FormSignUp{
    display: flex !important;
    justify-content: center !important;
    width:100% !important;
    padding: 1.9rem !important;
    flex-wrap: wrap;
    height: 100%;
    font-size: 2vh;
    
}

.selectSignUp{
    display: flex;
    flex-direction: column wrap !important;
}

.buttonSubmit{
    background-color: rgb(179, 8, 8);
    color: white;
    padding: 0.4rem !important;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    
}
.Or{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1rem;
    color: white;
}

#buttonDiv{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 100% !important;
    color: white;
}