@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: 'Cairo';
}

#root {
  width: 100%;
  height: 100vh;
}

body {
  height: 100vh;
}

/*ScrollBar*/
body::-webkit-scrollbar{
  background-color: rgba(0, 0, 0, 0.4) !important;
  opacity: 7 !important;
  width: 15px;
}
body::-webkit-scrollbar-thumb {
background: #e01313;
border-radius: 2px;
}

.text-logo{
  font-family: 'Bayon' !important;
  font-size: 5vh !important;
}


.navbar {
  background-color: #151c25;
  padding: 0;


}

.disclosure{
  background-color: #151c25;
  color: white;
}
.menuD {
  width: 5.5rem !important;
  padding: 0.4rem !important;
} 

.navbar a{
  padding: 0.5rem !important;
}
.navbar a:hover{
  padding: 0.5rem !important;
  background-color: #e01313;
}


.text-logo {
  color: #fff;
  padding: 10px;
  /* font-family: 'Staatliches', cursive; /
  / font-family: 'Kaushan Script', cursive; */
  font-family: 'Passion One', cursive;
  font-weight: 400;
  font-size: 1.7rem;
}

.menu-avatar {
  background-color: #1f2937;

}
/*-------Logo MyTinerary----*/
.imgLogo{
  height: 8vh;
  margin-left: 1.4rem;
}
a{
  text-decoration: none;
  color: white;
}
  

/*/*----------------------------Slider Swiper CSS/*----------------------------*/
.swiper {
  width: 95%;
  height: 90%;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD0000'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FFAE9A' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FFAE9A' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: #330000;
  font-family: 'Bayon';
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;
  border: 2px solid black;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.436);
  font-family: 'Bayon';
  text-shadow: #434343 2px 2px 2px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
  
}

/*----------------------------Video Hero---------------------------- */

.vid {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  color: white;
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.436);
}

.vid video {
  object-fit: cover;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100vh;
}

/*----------------------------CSS FROM CALL TO ACTION----------------------------*/
.textFindHero {
  margin-top: 1rem !important;
 font-size: 2rem;
 position: relative;
 cursor: pointer;
 z-index: 1;
}

.textFindHero::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

.textFindHero:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.textFindHero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgb(255, 0, 0);
  z-index: -1;
  transition: transform .3s ease;
}

@media screen and (max-width:475px) {
  .imgLogo{
    height: 5vh;
    margin-left: 1.4rem;
    margin-top: 1rem;
  }
.cardsFromCards{
  width: 100% !important;
  height: 40vh;
  margin: 10px;
}


  .css-n57sgq-MuiTypography-root{
    font-size: 1.8rem !important;
  }
  .input-container{
    width: 90% !important;
  }
  .input-style{
    width: 100% !important;
  }
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-top: 20px;
  cursor: pointer;
  transform: rotate(180deg);
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

/*----------------------------CSS FOR ERROR PAGE----------------------------*/
.containerError {
  width: 100% !important;
  height: 80vh;
}

.error404 {
  object-fit: cover;
  width: 100% !important;
  height: 80vh;
}

