*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.containerFooter{
    background-color: black;
    height: 14vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    flex-wrap: wrap;

}

.containlogo{
    display: flex;
    align-items: center;
    padding: 5px;
}
.logo{
    height: 8vh;
}
.Nav{
    display: flex;
    flex-direction: column;

    
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202020;
    height: 6vh;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0 !important;
    padding: 0;
    font-size: 12px;
}